body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.box-cont{
    display: inline-block;
    
}
.color-box{
    
    display: inline-block;
    width: 100%;
    height: 100%;
}
#heading-background{
    background-color: black;
}
#heading-background>h1{
    color: antiquewhite;
}
#welcome-screen{

}
#game-screen{
    display: none;
}
#choosecolor-bar{
    background-color: black;
    color: antiquewhite;
}
